@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.IsInRole("Student"))
                {
                    @Html.ActionLink("Your profile", "Details", "Student", new {Id = User.Identity.GetUserId()}, new {@class = "navbar-brand"})
                }
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Students", "Index", "Student", new { area = "" }, new { @class = "navbar-brand" })
                }
                @Html.ActionLink("Courses", "Index", "Course", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
